@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono",serif;
  color: white;
}
body{
  background-color: #10151d;
}

nav{
  display: flex;
  align-items: center;
  background-color: #151e2b;
  padding: 20px 40px; 
  font-size: 20px; 
  font-weight: 700;
}

.book-container {
  display: grid;
  grid-template-columns: 1;
  gap: 2rem;
  justify-items: center;
  margin: 10rem 0;
}

.book-details {
  width: 600px;
  display: flex;
  gap:30px
}

.book-rank {
  font-weight: 800;
}

.bookimg {
  width: 200px;
  height: 200px;
}

.book-title-author-container {
  margin-bottom: 1rem;
}

.book-title{
  font-size: 20px;
  font-weight: 800;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 10px
}

.author-svg {
  width: 15px;
}

.book-rating{
  margin-top: 1rem;
  font-weight: 700;
}

.book-rating-svg{
  width: 25px;

}


